In [2]:
import pandas as pd
FILE="data/verbauchsdata_1999.xlsx"

In [3]:
df = pd.read_excel(FILE).set_index("TagesNr.")

In [4]:
df

,Datum,Tag,00:15:00,00:30:00,00:45:00,01:00:00,01:15:00,01:30:00,01:45:00,02:00:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,00:00:00
TagesNr.,,,,,,,,,,,,,,,,,,,,,
1,1996-01-01,Sa,76.265719,72.104227,68.537233,65.055168,60.893676,56.562326,52.315905,48.748912,...,128.326839,126.543342,126.458414,127.052913,126.883056,124.420132,118.729928,110.661728,101.489459,92.571975
2,1996-01-02,So,84.762819,78.327280,72.738523,67.657834,62.746502,58.173883,54.109332,50.722206,...,126.424464,124.730901,123.122017,121.089741,117.871972,112.791283,105.339607,96.363724,86.795094,77.565177
3,1996-01-03,Mo,72.865019,64.928389,58.089378,52.685715,48.970697,46.691026,45.255678,44.242491,...,132.389745,130.701101,128.252566,124.875276,120.315936,114.574544,107.397804,99.207877,90.426924,81.477107
4,1996-01-04,Di,72.656616,64.742686,57.923235,52.535027,48.830634,46.557484,45.126241,44.115952,...,132.011094,130.327279,127.885748,124.518118,119.971817,114.246846,107.090633,98.924130,90.168292,81.244073
5,1996-01-05,Mi,72.452066,64.560416,57.760164,52.387125,48.693161,46.426411,44.999197,43.991753,...,131.639443,129.960369,127.525711,124.167562,119.634060,113.925207,106.789140,98.645629,89.914441,81.015346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,1996-12-27,Mi,74.428299,66.321393,59.335654,53.816059,50.021336,47.692757,46.226614,45.191690,...,135.230096,133.505222,131.004155,127.554408,122.897249,117.032679,109.701965,101.336328,92.366985,83.225155
363,1996-12-28,Do,86.058252,79.524359,73.850188,68.691851,63.705459,59.062956,54.936287,51.497395,...,128.356613,126.637168,125.003694,122.940360,119.673413,114.515076,106.949516,97.836454,88.121586,78.750608
364,1996-12-29,Fr,73.963415,65.907145,58.965040,53.479920,49.708900,47.394865,45.937880,44.909420,...,134.385440,132.671340,130.185895,126.757695,122.129625,116.301685,109.016760,100.703375,91.790055,82.705325
365,1996-12-30,Sa,73.736357,65.704818,58.784025,53.315743,49.556300,47.249369,45.796856,44.771554,...,133.972894,132.264056,129.786241,126.368565,121.754702,115.944653,108.682092,100.394228,91.508271,82.451430
366,1996-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
consum_daily={}
for day, row in df.iterrows():
    day_consum={}
    for hour, values in enumerate(zip(row[2::4], row[3::4], row[4::4], row[5::4])):
        day_consum[f"{hour}"]=sum(values)
    consum_daily[day]=day_consum
df_hourly = pd.DataFrame.from_dict(consum_daily,orient="index").rename_axis("day").rename_axis("hour",axis="columns")[:365]
df_hourly.to_parquet("data/verbrauchsdata_1999_hourly.parquet")

In [6]:
pd.read_parquet("data/verbrauchsdata_1999_hourly.parquet")

hour,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
day,,,,,,,,,,,,,,,,,,,,,
1,281.962347,218.520819,177.755178,169.941764,171.555404,175.462111,216.397609,316.273428,436.107425,529.104043,...,533.944963,504.050160,491.990324,506.003513,565.623262,612.758534,587.364937,522.564555,504.814515,423.453091
2,303.486456,225.751923,184.513669,171.388557,169.271603,165.207052,173.844223,235.405231,380.882277,542.786882,...,488.000125,421.273750,367.079740,371.059612,428.979461,514.927774,539.992503,509.762407,474.875013,366.063602
3,248.568501,185.159892,168.104581,158.310442,164.811724,200.104398,330.636634,438.118870,478.308614,486.582973,...,445.042313,401.137551,387.628393,413.717954,480.166123,557.759348,562.571985,532.007516,488.018321,378.509712
4,247.857565,184.630312,167.623781,157.857654,164.340342,199.532075,329.690973,436.865796,476.940592,485.191286,...,443.769437,399.990248,386.519728,412.534669,478.792789,556.164087,560.962960,530.485909,486.622529,377.427127
5,247.159771,184.110522,167.151870,157.413237,163.877674,198.970332,328.762793,435.635887,475.597861,483.825326,...,442.520092,398.864155,385.431558,411.373260,477.444843,554.598317,559.383680,528.992431,485.252539,376.364556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,254.712407,189.736518,172.259647,162.223425,168.885400,205.050409,338.809030,448.947921,490.131041,498.609918,...,456.042492,411.052529,397.209463,423.943883,492.034462,571.545570,576.477162,545.157226,500.080744,387.865394
362,253.901404,189.132398,171.711174,161.706907,168.347670,204.397530,337.730265,447.518474,488.570467,497.022348,...,454.590456,409.743740,395.944751,422.594049,490.467828,569.725773,574.641663,543.421450,498.488491,386.630433
363,308.124650,229.202097,187.333597,174.007894,171.858587,167.731917,176.501090,239.002937,386.703313,551.082311,...,495.458247,427.712090,372.689832,376.730529,435.535568,522.797432,548.245226,517.553122,482.132543,371.658164
364,252.315520,187.951065,170.638655,160.696875,167.296160,203.120850,335.620780,444.723245,485.518825,493.917915,...,451.751055,407.184455,393.471655,419.954500,487.404335,566.167230,571.052415,540.027205,495.374900,384.215515
365,251.540943,187.374079,170.114816,160.203556,166.782582,202.497295,334.590466,443.358001,484.028343,492.401649,...,450.364236,405.934450,392.263747,418.665293,485.908065,564.429168,569.299356,538.369389,493.854161,383.036022